html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1=title
      div
        p.
          clusterId, interesting, count, text, representative, url, silhouette, intra, inter

      - var index = 0
      each round in clusters
        - var bg = 'lightgray'
        if index % 2 == 1
          - bg = 'white'
        else
          - bg = 'lightgray'
        - index = index + 1

        //width:"100%", 
        table(style={background: bg})
          // clusterId(1), count(1), silhouette(2), intra(3), inter(4), representative(5), url(6), interesting(7), time(8), text (9)
          tr
            - var i = 0
            each cluster in round
              if (interesting.indexOf(i) > -1)
                td=cluster[0]
              - i = i + 1
          tr
            - var i = 0
            each cluster in round
              if (interesting.indexOf(i) > -1)
                td=cluster[7]
              - i = i + 1
          tr
            - var i = 0
            each cluster in round
              if (interesting.indexOf(i) > -1)
                td=cluster[1]
              - i = i + 1
          tr
            - var i = 0
            each cluster in round
              if (interesting.indexOf(i) > -1)
                td=cluster[9]
              - i = i + 1
          tr
            - var i = 0
            each cluster in round
              if (interesting.indexOf(i) > -1)
                td
                  a(href='https://twitter.com/CaniLupine/status/' + cluster[5]) #{cluster[5]}
              - i = i + 1
          tr
            - var i = 0
            each cluster in round
              if (interesting.indexOf(i) > -1)
                td
                  a(href="#{cluster[6]}") link
              - i = i + 1
          tr
            - var i = 0
            each cluster in round
              if (interesting.indexOf(i) > -1)
                td=cluster[2]
              - i = i + 1
          tr
            - var i = 0
            each cluster in round
              if (interesting.indexOf(i) > -1)
                td=cluster[3]
              - i = i + 1
          tr
            - var i = 0
            each cluster in round
              if (interesting.indexOf(i) > -1)
                td=cluster[4]
              - i = i + 1
